body
{
    background-color:rgb(211, 241, 255);
    /* padding: 10px; */

}
.myImgLogo {
    align-self: center;
    top:100%;
    border-radius: 5px;
    margin: 0px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImgLogo:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Captionlogo of Modal Image */
  #captionlogo {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #captionlogo {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Closelogo Button */
  .closelogo {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .closelogo:hover,
  .closelogo:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  ul {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    /* height: auto; */
    background-color: rgb(39, 39, 39);
  }
  #main_lable_Electro-Enthu
  {
      /* margin: auto; */
      display: contents;
      /* margin-top: ;
      margin-bottom: auto; */
      color: white;
  }
  li {  
    margin: 20;
    padding: 30;  
    float: right;
    /* border-right:1px solid #bbb; */
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    /* font-size: larger;*/
    /* margin: 1px; */
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:rgb(29, 179, 179);
  }
  .activemenu{
    background-color: rgb(67, 200, 127);
  }
  * {box-sizing: border-box;}
  body {font-family: Arial, Helvetica, sans-serif}
.centertext
{
    text-align: center;
}